:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

label {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

::view-transition-group(moving-box) {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.box {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  background: rgb(242, 205, 26);
  background: linear-gradient(
    0deg,
    rgba(242, 205, 26, 1) 35%,
    rgba(24, 255, 0, 1) 100%
  );
}

.box.float-right {
  float: right;
}

.box.push-down {
  margin-top: 40vh;
}

.box.large {
  --size: 300px;
}
